* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

nav a {
    transition: all 200ms ease-in-out;
}

nav a:hover {
    transform: scale(1.05);
    color: rgba(97, 97, 97, 0.849);
    flex-wrap: wrap;
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgb(209, 209, 209);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s1 {
    min-height: 90vh;
    height: auto;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    background-color: rgb(245, 245, 245);
}

.promo {
    position: absolute;
    bottom: 700px;
    left: 50px;
}

.imgDest img {
    width: 900px;
    height: auto;
}

#s2 {
    background-color: beige;
    min-height: 40vh;
    height: auto;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

.botaoS2 {
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 40px;
    transition: 200ms ease-in-out;
    color: white;
    border-radius: 30px;
}

.botaoS2:hover {
    transform: scale(1.05);
    background-color: rgb(53, 53, 53);
}

#s3 {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(245, 245, 245);
}

.anuncio {
    width:auto;
    height: 300px;
    border-radius: 15px;
}

.anuncio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
